/* migrate it later */
.resandbox {
  position: relative;
  width: 100%;
}
.resandbox-sandbox {
  background-color: rgba(0, 0, 0, 0.05);
  background-image: repeating-linear-gradient(0deg, transparent, transparent 7px, rgba(0, 0, 0, 0.2) 1px, transparent 8px), repeating-linear-gradient(90deg, transparent, transparent 7px, rgba(0, 0, 0, 0.2) 1px, transparent 8px);
  background-size: 15px 15px;
  padding: 10px;
}
.resandbox-controls {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #eee;
  background: #fff;
  padding: 10px;
}
.resandbox-code {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #eee;
  background: #fff;
  padding: 10px;
}
.resandbox-controls .control {
  display: flex;
  justify-content: space-between;
}
.resandbox-controls .control-switch {
  display: flex;
  align-items: center;
}
.resandbox-controls .control-switch input {
  padding: 5px;
  margin-left: 6px;
  min-width: 400px;
}
.resandbox-controls .control-prop {
  padding: 4px 14px;
  min-width: 100px;
  background: #eee;

}
.resandbox-controls .control-description {
  color: #666;
}
/* migrate it later */

body {
  font-family: 'OpenSans', Helvetica, sans-serif;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.container .link {
  color: #C51D2C;
  text-decoration: none;
}

.book {
  background: #ffffff;
  height: 300px;
  width: 200px;
  position: relative;
  display: block;
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 1px 4px 0px rgba(0,0,0,.05);
  font-weight: 700;
  z-index: 200;
}

.book .title {
  color: 'red';
}
